<app-menutop></app-menutop>
<!-- banner start -->
<section class="sub-banner wow fadeInUp"
  data-wow-delay="100ms">
  <h3>About Us</h3>
</section>
<!-- banner end -->
<!-- medicare start -->
<section class="about-medicare wow fadeInUp"
  data-wow-delay="100ms">
  <div class="container">
    <div class="row">
      <div class="col-md-6 pt-4">
        <img class="mw-100"
          src="assets/img/medicare-logo.svg"
          alt="">
        <h4>Medicare Magician is a solution created for Medicare Advantage agents… by Medicare Advantage agents.</h4>
      </div>
      <div class="col-md-6 d-flex align-items-center">
        <img class="mw-100"
          src="assets/img/about-img1.png"
          alt="">
      </div>
      <div class="col-12">
        <p>Our team is built on Medicare enrollment experience. We understand Medicare agents get tortured during AEP
          because most enrollment software is slow and user unfriendly.
        </p>
        <p>Medicare Magician gives agents power from all sides and we're there when you need us, with proven
          technology and world-class live chat support to answer your technical questions. </p>
        <h5 class="text-center">But we're more than technology that streamlines the Medicare Advantage enrollment
          process and increases revenue...</h5>
        <p> ...We're all about helping YOU write more qualified business. We accomplish this by decreasing the
          hours you must be on the phones to accomplish your enrollment goals. This decreases your fatigue
          with increases the quality of your enrollment conversations. No more cut-and-pasting client info
          from MARX or other data areas! With a press of a button, necessary enrollment data is auto populated
          from Medicare Magician throughout your enrollment software.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- medicare end -->
<!-- free-trial -->
<section class="free-trial mt-4">
  <div class="container">
    <!-- <div class="row d-flex justify-content-center align-items-center"> -->
    <div class="row">
      <div class="col-md-3 col-lg-4 col-12  d-md-flex align-items-md-center  justify-content-center wow fadeInUp"
        data-wow-delay="100ms">
        <h1>FREE TRIAL</h1>
      </div>
      <div class="col-md-5 col-lg-4 col-12  d-md-flex align-items-md-center  justify-content-center wow fadeInUp"
        data-wow-delay="100ms">
        <p>Use the software for free for 15 days.</p>
      </div>
      <div class="col-md-4 col-lg-4 col-12  d-md-flex align-items-md-center  justify-content-center wow fadeInUp"
        data-wow-delay="100ms">
        <div class="main-banner1">
          <a href="javascript:;"
            routerLink="/system/signup"
            class="btn">TRY BEFORE YOU BUY</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- free-trial end -->

<!-- quote start -->
<section class="quote wow fadeInUp"
  data-wow-delay="100ms">
  <div class="container">
    <div class="row">
      <h6> Medicare Magician helps you focus on giving your prospects the information they need to make the
        best decisions for themselves and their families...</h6>
      <div class="text-right float-right col-12">
        <h5>...instead of getting bogged down in the enrollment process.</h5>
      </div>
    </div>
  </div>
</section>
<!-- quote end -->
<!-- about-bg -->
<section class="about-bg wow fadeInUp"
  data-wow-delay="100ms">
  <div class="container">
    <div class="row">
      <h3>With Medicare Magician, you can stay ahead of the curve and experience reduced costs, more satisfied
        customers, greater success and higher commissions.</h3>
    </div>
  </div>
</section>
<!-- about-bg end -->
<!-- mobile carousel start -->
<section class="pt-5 pb-5 about-carousal d-block d-md-none wow fadeInUp"
  data-wow-delay="100ms">
  <div class="container-fluid">
    <div class="row">

      <div class="col-1 col-md-1 d-flex justify-content-center align-items-center">
        <a class="btn about-carousalbtn mb-3 mr-1"
          href="#carouselExampleIndicators2"
          role="button"
          data-slide="prev">
          <i class="fa fa-angle-left"
            aria-hidden="true"></i>
        </a>
      </div>
      <div class="col-9 col-md-10">
        <div id="carouselExampleIndicators2"
          class="carousel slide"
          data-ride="carousel">

          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <div class="col-md-4 mb-3">
                  <div class="card">
                    <!-- <img class="img-fluid" alt="image" src="assets/img/carousal-item.png"> -->
                    <!-- <video width="320" height="240" controls>
                      <source src="movie.mp4" type="video/mp4">
                    </video> -->
                    <iframe class="about-video"
                      src="https://medicaremagicianvideos.s3.amazonaws.com/20210909_153706.mp4"
                      title="Video player"
                      frameborder="0"
                      allow="accelerometer;  clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen></iframe>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">

                <div class="col-md-4 mb-3">
                  <div class="card">
                    <iframe class="about-video"
                      src="https://medicaremagicianvideos.s3.amazonaws.com/20210909_153734.mp4"
                      title="Video player"
                      frameborder="0"
                      allow="accelerometer;  clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen></iframe>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-1 col-md-1 d-flex justify-content-center align-items-center">
        <a class="btn about-carousalbtn mb-3 "
          href="#carouselExampleIndicators2"
          role="button"
          data-slide="next">
          <i class="fa fa-angle-right"
            aria-hidden="true"></i>
        </a>

      </div>

    </div>
  </div>
</section>
<!-- mobile carousel end -->
<!-- carousel start -->
<section class="pt-5 pb-5 about-carousal d-none d-md-block wow fadeInUp"
  data-wow-delay="100ms">
  <div class="container-fluid">
    <div class="row">

      <div class="col-1 col-md-1 d-flex justify-content-center align-items-center">
        <a class="btn about-carousalbtn mb-3 mr-1"
          href="#carouselExampleIndicators2"
          role="button"
          data-slide="prev">
          <i class="fa fa-angle-left"
            aria-hidden="true"></i>
        </a>
      </div>
      <div class="col-9 col-md-10">
        <div id="carouselExampleIndicators2"
          class="carousel slide"
          data-ride="carousel">

          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">

                <div class="col-md-4 mb-3">
                  <div class="card">
                    <!-- <img class="img-fluid" alt="image" src="assets/img/carousal-item.png"> -->
                    <!-- <video width="320" height="240" controls>
                      <source src="movie.mp4" type="video/mp4">
                    </video> -->
                    <iframe class="about-video"
                      src="https://medicaremagicianvideos.s3.amazonaws.com/20210909_153706.mp4"
                      title="Video player"
                      frameborder="0"
                      allow="accelerometer;  clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen></iframe>
                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <div class="card">
                    <iframe class="about-video"
                      src="https://medicaremagicianvideos.s3.amazonaws.com/20210909_154157.mp4"
                      title="Video player"
                      frameborder="0"
                      allow="accelerometer;  clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen></iframe>
                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <div class="card">
                    <iframe class="about-video"
                      src="https://medicaremagicianvideos.s3.amazonaws.com/20210909_153555.mp4"
                      title="Video player"
                      frameborder="0"
                      allow="accelerometer;  clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen></iframe>
                  </div>
                </div>

              </div>
            </div>
            <div class="carousel-item">
              <div class="row">

                <div class="col-md-4 mb-3">
                  <div class="card">
                    <iframe class="about-video"
                      src="https://medicaremagicianvideos.s3.amazonaws.com/20210909_153734.mp4"
                      title="Video player"
                      frameborder="0"
                      allow="accelerometer;  clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen></iframe>
                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <div class="card">
                    <iframe class="about-video"
                      src="https://medicaremagicianvideos.s3.amazonaws.com/20210909_153943.mp4"
                      title="Video player"
                      frameborder="0"
                      allow="accelerometer;  clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen></iframe>
                  </div>
                </div>

                <div class="col-md-4 mb-3">
                  <div class="card">
                    <iframe class="about-video"
                      src="https://medicaremagicianvideos.s3.amazonaws.com/20210909_133116.mp4"
                      title="Video player"
                      frameborder="0"
                      allow="accelerometer;  clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen></iframe>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-1 col-md-1 d-flex justify-content-center align-items-center">
        <a class="btn about-carousalbtn mb-3 "
          href="#carouselExampleIndicators2"
          role="button"
          data-slide="next">
          <i class="fa fa-angle-right"
            aria-hidden="true"></i>
        </a>

      </div>

    </div>
  </div>
</section>
<!-- carousel end -->
<!-- about-magician -->
<section class="about-magician wow fadeInUp"
  data-wow-delay="100ms">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 p-0">
        <img src="assets/img/about-magician.png"
          alt="">
      </div>
      <div class="col-md-6 d-flex align-items-center">
        <h4>MEDICARE MAGICIAN PAYS FOR ITSELF WITHIN THE FIRST TWO WEEKS OF AEP, AND SUBSCRIPTION LASTS UNTIL AEP
          OCTOBER 15TH 2022 (1 FULL YEAR)</h4>
      </div>
    </div>
  </div>
</section>
<!-- about-magician end -->
<!-- free-trial -->
<section class="free-trial">
  <div class="container">
    <!-- <div class="row d-flex justify-content-center align-items-center"> -->
    <div class="row">
      <div class="col-md-3 col-lg-4 col-12  d-md-flex align-items-md-center  justify-content-center wow fadeInUp"
        data-wow-delay="100ms">
        <h1>FREE TRIAL</h1>
      </div>
      <div class="col-md-5 col-lg-4 col-12  d-md-flex align-items-md-center  justify-content-center wow fadeInUp"
        data-wow-delay="100ms">
        <p>Use the software for free for 15 days.</p>
      </div>
      <div class="col-md-4 col-lg-4 col-12  d-md-flex align-items-md-center  justify-content-center wow fadeInUp"
        data-wow-delay="100ms">
        <div class="main-banner1">
          <a href="javascript:;"
            routerLink="/system/signup"
            class="btn">TRY BEFORE YOU BUY</a>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
