<ngx-loading [show]="loading"
  [config]="{ backdropBorderRadius: '3px', fullScreenBackdrop: true }">
</ngx-loading>

<app-menutop></app-menutop>

<section class="ftco-section contact-section"
  id="contact-section">
  <!-- start -->
  <div class="d-flex justify-content-center align-items-center">
    <div class="col-12 col-md-10 col-lg-10 col-xl-5 detail-box">
      <h2>Welcome {{ firstname }}</h2>
      <div class="mb-3"
        style="font-size: medium">
        <div class="row">
          <div class="col">
            <div class="row">
              <div class="col-md-12">First Name:</div>
              <div class="col-md-12">
                <strong>{{ firstname }}</strong>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="row">
              <div class="col-md-12">Last Name:</div>
              <div class="col-md-12">
                <strong>{{ lastname }}</strong>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3"
        style="font-size: medium">
        <div class="row">
          <div class="col">
            <div class="row">
              <div class="col-md-12">NPN#</div>
              <div class="col-md-12">
                <strong>{{ npn }}</strong>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="row">
              <div class="col-md-12">Email:</div>
              <div class="col-md-12">
                <strong> {{ email }}</strong>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3"
        style="font-size: medium"
        *ngIf="validSubscribedPlans && validSubscribedPlans.length > 0">
        <div class="row">
          <div class="col">
            <div class="row">
              <div class="col-md-12">Subscription Plan:</div>
              <div class="col-md-12">
                <strong>{{ getSubscriptionPlanName()}}</strong>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="row">
              <div class="col-md-12">Subscription Validity:</div>
              <div class="col-md-12">
                <strong>{{validSubscribedPlans[0].subscriptionEndDate | date}}</strong>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="text-right dowload-btn">
        <!-- *ngIf="payment_status === ''" -->
        <!-- <a href="javascript:;"
          *ngIf="!(validSubscribedPlans && validSubscribedPlans.length > 0)"
          class="btn btn-primary mr-3"
          (click)="openPaymentPlanModal(PaymentPlanModal)"><i class="fa fa-money"></i> Buy</a> -->
          <a href="javascript:;"
          *ngIf="!(validSubscribedPlans && validSubscribedPlans.length > 0)"
          class="btn btn-primary mr-3"
          (click)="openTestPaymentModal(PaymentModal)"><i class="fa fa-money"></i> Buy</a>
      </div>
    </div>
  </div>
  <!-- end -->
</section>
<!--
  Payment work-->

<!--
<ng-template #PaymentPlanModal
  let-c="close"
  let-d="dismiss">
  <div class="modal-header bg-primary">
    <h5 class="text-white">Plan</h5>
    <button type="button"
      class="close text-white"
      aria-label="Close"
      (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-12 p-0 m-0">
          <div class="list-box">
            <h4>Yearly Subscription:</h4>
            <ul>
              <li>$3,000 annual lump sum subscription</li>
            </ul>
            <button class="btn btn-block"
              (click)="openPaymentModal(AgreementModal, 3000, 'Yearly')"
              (click)="d('Cross click')">
              Buy
            </button>
          </div>
          <div class="list-box">
            <h4>Monthly Subscription:</h4>
            <ul>
              <li>$300 monthly annual subscription</li>
            </ul>
            <button class="btn btn-block"
              (click)="openPaymentModal(AgreementModal, 3000, 'Monthly')"
              (click)="d('Cross click')">
              Buy
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
-->

<!-- ------------------ Subscription Plans Modal : Start ------------------- -->
<ng-template #PaymentPlanModal
  let-c="close"
  let-d="dismiss">

  <div class="modal-header bg-primary">
    <h5 class="text-white">Planaaa</h5>
    <button type="button"
      class="close text-white"
      aria-label="Close"
      (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-12 p-0 m-0">
          <div class="list-box"
            *ngFor="let sp of subscriptionPlans">
            <h4>{{sp.name}}:</h4>
            <ul>
              <li>{{sp.description}}</li>
            </ul>
            <button class="btn btn-block"
              (click)="openPaymentModal(AgreementModal, sp)"
              (click)="d('Cross click')">
              Buy
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

</ng-template>

<!-- ------------------- Subscription Plans Modal : End -------------------- -->


<ng-template #PaymentModal
  let-c="close"
  let-d="dismiss">
  <div class="modal-header bg-primary">
    <h5 class="text-white">Buy</h5>
    <button type="button"
      class="close text-white"
      aria-label="Close"
      (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <div class="col-sm-12 m-0 p-0">
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label for="">Credit Card Number<span class="text-danger">*</span></label>
              <input type="text"
                class="form-control"
                id="cardNumber"
                placeholder="1111 1111 1111 1111"
                value="4111111111111111"
                >
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="">Expiration Date<span class="text-danger">*</span></label>
              <input type="text"
                class="form-control"
                id="expirationDate"
                placeholder="MMYY"
                value="1025"
                >
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="">CVV/CID<span class="text-danger">*</span></label>
              <input type="text"
                class="form-control"
                id="cvv"
                placeholder=""
                value="999"
                >
            </div>
          </div>
          <button id="payButton"
            (click)="Payment()"
            class="btn btn-primary text-center my-3"
            type="button">
            Pay
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #AgreementModal
  let-c="close"
  let-d="dismiss">
  <div class="modal-header bg-primary">
    <h5 class="text-white">Agreement</h5>
    <button type="button"
      class="close text-white"
      aria-label="Close"
      (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container mt-3 agreement">
      <div class="row">
        <div class="col-12">
          <h2>SOFTWARE LICENSE AGREEMENT</h2>
          <p>
            THIS AGREEMENT is entered into as of
            {{ crDate | date: "MM/dd/yyyy" }} ("Effective Date") by and between
            <BR />
            Magical Medicare Sales Software, with offices at 3112 Legation St,
            NW, Washington, DC <BR /> 20015 ("LICENSOR") and
            <input name=""
              type="text"
              class="input"
              [(ngModel)]="pname"
              [ngClass]="{ 'is-invalid': pname == '' }" />, with offices at<BR />
            <input name=""
              type="text"
              class="input2"
              [(ngModel)]="address"
              [ngClass]="{ 'is-invalid': address == '' }" />
            ("LICENSEE").<BR /> WHEREAS, Licensee wishes to license software for
            the purpose of Medicare Enrollment <BR />assistance and Licensor
            desires to license this software to licensee.
          </p>

          <p>NOW THEREFORE, the parties hereto agree as follows:</p>
        </div>

        <div class="col-12">
          <h3>1. GRANT OF LICENSE</h3>
          <p>
            Subject to the terms and conditions of the Agreement, Licensor
            grants to Licensee a non-exclusive, non-transferable license to use
            the software identified in Exhibit A (the "Licensed Programs") for
            the purpose of Medicare Enrollment assistance. Licensee may use the
            Licensed Programs in executable format for its own use. Licensee may
            not, however, transfer or sublicense the Licensed Programs to any
            third party, in whole or in part, in any form, whether modified or
            unmodified.
          </p>
        </div>

        <div class="col-12">
          <h3>2. CONSIDERATION TO LICENSOR</h3>
          <p class="mar">
            a. Licensee shall pay, upon delivery of the Licensed Programs, the
            license fees set forth in Exhibit A attached hereto.
          </p>
          <p class="mar">
            b. License fees do not include any shipping, duties, bank fees,
            sales, use, excise or similar taxes due.
          </p>
        </div>

        <div class="col-12">
          <h3>3. OWNERSHIP</h3>
          <p>
            The original and any copies of the Licensed Programs, made by
            Licensee, including translations, compilations, partial copies,
            modifications, and updates, are the property of Licensor.
          </p>
        </div>

        <div class="col-12">
          <h3>4. PROPRIETARY RIGHTS</h3>
          <p>
            Licensee recognizes that Licensor regards the Licensed Programs as
            its proprietary information and as confidential trade secrets of
            great value. Licensee agrees not to provide or to otherwise make
            available in any form the Licensed Programs, or any portion thereof,
            to any person other than employees of Licensee without the prior
            written consent of Licensor. Licensee further agrees to treat the
            Licensed Programs with at least the same degree of care with which
            Licensee treats its own confidential information and in no event
            with less care than is reasonably required to protect the
            confidentiality of the Licensed Programs.
          </p>
        </div>

        <div class="col-12">
          <h3>5. TERM</h3>
          <p>
            The license granted hereunder shall continue unless and until
            terminated pursuant to Section 6 hereof and subject to Licensee's
            proper performance of its obligations hereunder.
          </p>
        </div>

        <div class="col-12">
          <h3>6. TERMINATION</h3>
          <p>
            Licensor may terminate this Agreement if Licensee is in default of
            any of the terms and conditions of this Agreement and fails to
            correct such default within ten (10) days after written notice
            thereof from Licensor. In the event of termination, Licensee will
            immediately discontinue use of the Licensed Programs.
          </p>
        </div>

        <div class="col-12">
          <h3>7. MAINTENANCE SUPPORT</h3>
          <p>
            Licensor will provide to Licensee the following support with respect
            to the Software:
          </p>
          <p class="mar">
            (i) If Licensee notifies Licensor of a substantial program error
            respecting the Software, or Licensor has reason to believe that
            error exists in the Software and so notifies Licensee, Licensor
            shall at its expense verify and attempt to correct such errors. If
            Licensee is not satisfied with the correction, then Licensee may
            terminate this Agreement, but without refund of any amount paid to
            Licensor or release of any amounts due Licensor at the time of
            termination.
          </p>
          <p class="mar">
            (ii) In the case that Licensee has technical questions in the use of
            the Software during the 1st year of this Agreement, Licensee may
            submit those questions to Licensor. Licensor shall make its best
            efforts provide consulting to answer such questions without charge
            to Licensee for each licensed program.
          </p>
        </div>

        <div class="col-12">
          <h3>8. DELIVERY OF LICENSED PROGRAMS</h3>
          <p>
            Licensor shall use its best efforts to deliver the Licensed Programs
            promptly after receipt of the purchase order by way of email and
            download.
          </p>
        </div>

        <div class="col-12">
          <h3>9. WARRANTY DISCLAIMER</h3>
          <p>
            Licensor licenses, and Licensee accepts, the licensed programs "AS
            IS." LICENSOR PROVIDES NO WARRANTIES AS TO THE FUNCTION OR USE OF
            THE LICENSED PROGRAMS, WHETHER EXPRESS, IMPLIED, OR STATUTORY,
            INCLUDING, WITHOUT LIMITATION, ANY IMPLIED WARRANTIES OF
            MERCHANTABILITY OR FITNESS FOR PARTICULAR PURPOSE. THE ENTIRE RISK
            AS TO THE QUALITY AND PERFORMANCE OF THE LICENSED PROGRAM IS WITH
            LICENSEE. LICENSOR DOES NOT WARRANT THAT THE FUNCTIONS CONTAINED IN
            THE LICENSED PROGRAMS WILL MEET LICENSEE'S REQUIREMENTS OR THAT THE
            OPERATION OF THE LICENSED PROGRAMS WILL BE UNINTERRUPTED OR ERROR
            FREE.
          </p>
        </div>

        <div class="col-12">
          <h3>10. PATENT AND COPYRIGHT INDEMNITY</h3>
          <p>
            Licensor will defend at its own expense any action brought against
            Licensee to the extent it is based on a claim that the Licensed
            Programs used within the scope of the license granted hereunder
            infringe a United States patent, copyright or other proprietary
            right of a third party.
            <span class="color_red">Licensor will pay any costs, damages or attorney fees finally
              awarded against Licensee in such action which are attributable to
              such claim,</span>
            provided Licensor is promptly notified in writing of such claim, may
            control the defense and/or settlement of such claim, and is provided
            with all requested assistance, information and authority. In the
            event that a Licensed Program becomes, or in Licensor's opinion is
            likely to become, the subject of a claim of infringement of a United
            States patent, copyright or trade secret, Licensor may at its option
            either secure Licensee's right to continue using the Licensed
            Programs, replace or modify the Licensed Programs to make them not
            infringing, or provide Licensee with a refund of the license fee
            less depreciation on a 5 (five) year, straight-line basis. Licensor
            shall have no liability for any claim of patent, copyright or trade
            secret infringement based on the use of a Licensed Program in any
            form other than the original, unmodified form provided to Licensee
            or the use of a combination of the Licensed Programs with hardware,
            software or data not supplied by Licensor where the used Licensed
            Programs alone in their original, unmodified form would not
            constitute an infringement. The foregoing states Licensee's entire
            liability for infringement or claims of infringement of patents,
            copyrights or other intellectual property right.
          </p>
        </div>

        <div class="col-12">
          <h3>11. LIMITATION OF LIABILITY</h3>
          <p>
            LICENSOR'S LIABILITY TO LICENSEE UNDER ANY PROVISIONS OF THIS
            AGREEMENT FOR DAMAGES FINALLY AWARDED SHALL BE LIMITED TO THE
            AMOUNTS ACTUALLY PAID HEREUNDER BY LICENSEE TO LICENSOR. IN NO EVENT
            SHALL LICENSOR BE LIABLE FOR INDIRECT, INCIDENTAL, SPECIAL, OR
            CONSEQUENTIAL DAMAGES, INCLUDING LOSS OF USE, LOSS OF PROFITS OR
            INTERRUPTION OF BUSINESS, HOWEVER CAUSED OR ON ANY THEORY OF
            LIABILITY.
          </p>
        </div>

        <div class="col-12">
          <h3>12. NOTICES</h3>
          <p>
            All notices in connection with this Agreement shall be in writing
            and may be given by certified, registered, email, text, first-class
            mail or personally delivered at the address set forth on the front
            page. For purposes of this Agreement, a notice shall be deemed
            effective upon personal or electronic delivery to the party or if by
            mail five days after proper deposit in a mail box.
          </p>
        </div>

        <div class="col-12">
          <h3>13. SUCCESSORS</h3>
          <p>
            This Agreement will be binding upon and will inure to the benefit of
            the parties hereto and their respective representatives, successors
            and assigns except as otherwise provided herein.
          </p>
        </div>

        <div class="col-12">
          <h3>14. SEVERABILITY</h3>
          <p>
            In the event any provision of this Agreement is determined to be
            invalid or unenforceable, the remainder of this Agreement shall
            remain in force as if such provision were not a part.
          </p>
        </div>

        <div class="col-12">
          <h3>15. GOVERNING LAW/FORUM</h3>
          <p>
            This Agreement shall be governed and interpreted by the laws of the
            District of Columbia, Washington, DC shall be the appropriate venue
            and jurisdiction for the resolution of any disputes hereunder. Both
            parties hereby consent to such personal and exclusive jurisdiction.
          </p>
        </div>

        <div class="col-12">
          <h3>16. NON-ASSIGNMENT</h3>
          <p>
            This Agreement and the licenses granted by it may not be assigned,
            sublicensed, or otherwise transferred by Licensee without the prior
            written consent of Licensor.
          </p>
        </div>

        <div class="col-12">
          <h3>17. EXPORT REGULATIONS</h3>
          <p>
            Licensee understands that Licensor is subject to regulation by
            agencies of the U.S. Government, including the U.S. Departments of
            Commerce and State, which prohibit export or diversion of certain
            technical products to certain countries. Licensee warrants that it
            will comply in all respect with the export and re-export
            restrictions set forth in the export license for the Licensed
            Programs and all other applicable export regulations. Licensee
            agrees to indemnify and hold Licensor harmless from any loss,
            damages, liability or expenses incurred by Licensor as a result of
            Licensee's failure to comply with any export regulations or
            restrictions.
          </p>
        </div>

        <div class="col-12">
          <h3>18. ARBITRATION</h3>
          <p>
            Licensee agrees that the following steps will be used to settle any
            controversy or claim, including, but not limited to, errors and/or
            omissions arising out of or relating to this Agreement or the breach
            thereof.
          </p>
          <p><strong>a.Negotiation.</strong></p>
          <p>
            Licensee agrees that they will attempt to resolve any controversy,
            claim, or dispute (Dispute) relating to this Agreement by prompt,
            good faith negotiations. Any Dispute which is not settled by the
            Parties within thirty (30) days after written notice of a Dispute is
            given by one Party to the other shall be referred to arbitration
            pursuant to Clause 2 below.
          </p>

          <p><strong>b.Arbitration. </strong></p>
          <p>
            Any dispute, claim or controversy, including but not limited to,
            errors and omissions arising out of, or relating to, this Agreement
            or any alleged breach, termination, enforcement, interpretation or
            validity of this Agreement (including the determination of the scope
            or applicability of this agreement to arbitrate), which is not
            resolved pursuant to Clause 1 above, shall be settled by arbitration
            in Washington DC. Such arbitration will be administered by JAMS, The
            Resolution Experts (JAMS) pursuant to its Comprehensive Arbitration
            Rules & Procedures or, if applicable, its Streamlined Arbitration
            Rules & Procedures. The award of the arbitration panel shall be
            final and binding, and judgment upon the award granted may be
            entered in any court of competent jurisdiction. Damages that are
            inconsistent with any applicable agreement between the Parties, that
            are punitive in nature, or that are not measured by the prevailing
            Partys actual damages, shall be unavailable in arbitration or any
            other forum. In no event, even if any other portion of these
            provisions is held to be invalid or unenforceable, shall the
            arbitration panel have power to make an award or impose a remedy
            that could not be made or imposed by a court deciding the matter in
            the same jurisdiction. The arbitrator will, in the award, allocate
            all of the costs of the arbitration, including the fees of the not
            prevail.
          </p>

          <p>
            <strong>Client understands that this Agreement to arbitrate constitutes a
              waiver of the right to seek a judicial forum, including trial by
              jury, except where such waiver would be void under federal or
              state securities laws. Client acknowledges that his/her/its
              consent to this arbitration provision is voluntary and that
              arbitration is final and binding on the Parties.
            </strong>
          </p>
        </div>

        <div class="col-12">
          <h3>19. ENTIRE AGREEMENT</h3>
          <p>
            This Agreement sets forth the entire understanding between the
            parties with respect to the subject matter hereof, and merges and
            supersedes all prior agreements, discussions and understandings,
            express or implied, concerning such matters. This Agreement shall
            take precedence over any additional or conflicting terms which may
            be contained in Licensee's purchase order or Licensor's order
            acknowledgment forms.
          </p>

          <p>
            IN WITNESS WHEREOF, the parties have caused this Agreement to be
            executed as of the Effective Date.
          </p>

          <div class="two_div">
            <div class="leftpannal">
              <p>LICENSEE</p>
              <p>
                By
                <input name=""
                  type="text"
                  class="input"
                  [(ngModel)]="by1"
                  [ngClass]="{ 'is-invalid': by1 == '' }" />
              </p>
              <p>
                Signature
                <input name=""
                  type="text"
                  class="input"
                  [(ngModel)]="name1"
                  [ngClass]="{ 'is-invalid': name1 == '' }" />
              </p>
              <p>
                Title
                <input name=""
                  type="text"
                  class="input"
                  [(ngModel)]="title1"
                  [ngClass]="{ 'is-invalid': title1 == '' }" />
              </p>
            </div>
            <div class="rightpannal d-none">
              <p>LICENSEE</p>
              <p>
                By <input name=""
                  type="text"
                  class="input"
                  [(ngModel)]="by2" />
              </p>
              <p>
                Name
                <input name=""
                  type="text"
                  class="input"
                  [(ngModel)]="name2" />
              </p>
              <p>
                Title
                <input name=""
                  type="text"
                  class="input"
                  [(ngModel)]="title2" />
              </p>
            </div>
          </div>
        </div>

        <div class="col-12 mb-4">
          <h4>
            EXHIBIT A<br />
            LICENSED PROGRAMS
          </h4>
          <table width="100%"
            border="1"
            cellpadding="0"
            cellspacing="0">
            <tr>
              <!-- TODO: Vivek: To make the below segment dynamic -->
              <div *ngIf="plan_name === 'Free'"
                style="padding: 10px">
                <strong>Free Trial</strong> <br />
                Use the software for free for 15 days.
              </div>
              <div *ngIf="plan_name === 'Yearly'"
                style="padding: 10px">
                <strong>Yearly Subscription</strong> <br />
                $3,000 annual lump sum subscription.
              </div>
              <div *ngIf="plan_name === 'Monthly'"
                style="padding: 10px">
                <strong>Monthly Subscription</strong> <br />
                $300 monthly annual subscription.
              </div>
            </tr>
          </table>
        </div>

        <div class="col-12">
          <p>NOTES:</p>
          <p>
            License fee excludes any taxes, shipping and/or insurance charges,
            and any bank transfer fees.
          </p>
        </div>
        <div class="mt-2 col-12 mb-4">
          <input name="submit"
            type="button"
            value="Submit"
            class="btn btn-primary"
            (click)="agree(PaymentModal)" />
        </div>
      </div>
    </div>
  </div>
</ng-template>

<app-payment [showPaymentIframe]="showPaymentIframe"></app-payment>
