<!-- ##### Header Area Start ##### -->
<app-landing-header></app-landing-header>
<!-- ##### Header Area End ##### -->

<!-- ##### Bootstrap Static Header #####  -->
<div style="background: url('assets/img/banner1.png')"
  class="jumbotron bg-cover text-white main-banner mb-0">
  <div class="container py-md-5">
    <div class="col-md-8 col-12">
      <h1 class="display-4 font-weight-bold wow fadeInUp"
        data-wow-delay="100ms">The Medicare Magician <br>
        Sales
        Software</h1>
      <p class="wow fadeInUp"
        data-wow-delay="300ms">Eliminate Unqualified <br> Prospects. Get More <br>
        Commissions</p>
    </div>
  </div>
</div>
<!-- ##### Bootstrap Static Header End ##### -->

<!-- free-trial -->
<section class="free-trial wow fadeInUp"
  data-wow-delay="100ms">
  <div class="container">
    <!-- <div class="row d-flex justify-content-center align-items-center"> -->
    <div class="row">
      <div class="col-md-3 col-lg-4 col-12  d-md-flex align-items-md-center  justify-content-center">
        <h1>FREE TRIAL</h1>
      </div>
      <div class="col-md-5 col-lg-4 col-12  d-md-flex align-items-md-center  justify-content-center">
        <p>Use the software for free for 15 days</p>
      </div>
      <div class="col-md-4 col-lg-4 col-12  d-md-flex align-items-md-center  justify-content-center">
        <div class="main-banner1">
          <a href="javascript:;"
            routerLink="/system/signup"
            class="btn">TRY BEFORE YOU BUY</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- free-trial end -->

<!-- about section start -->
<div class="container about-section wow fadeInUp"
  data-wow-delay="100ms">
  <div class="row">
    <div class="col-md-3">
      <img src="assets/img/medicare1.png"
        alt="">
    </div>
    <div class="col-md-9">
      <p>Medicare Magician simplifies the complex and cumbersome world of Medicare Advantage enrollment with
        an
        innovative solution to streamline the qualification process and maximize commission revenue.</p>
    </div>
  </div>
</div>
<!-- about section end -->

<!-- ##### Call To Action Start ###### -->
<section class="cta-2-area wow fadeInUp action pt-4"
  data-wow-delay="100ms">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center text-white font pb-4">
        <h2 class="text-white font">WITH MEDICARE MAGICIAN, <br>
          THE FORMULA IS SIMPLE: MORE!!</h2>
        <h5 class="text-white font">Less Wasted Time + More Qualified and Efficient Enrollments = <br> MORE
          TIME to Enroll More
          Medicare Beneficiaries
        </h5>
        <h5 class="text-white font"> … And RECEIVE MORE COMMISSIONS.</h5>
      </div>
    </div>
  </div>
</section>
<!-- ##### Call To Action End ###### -->

<!-- image section start -->
<section class="img-section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h6>The software gathers necessary qualifying information while you follow the CMS required <br>
          script and puts the info at your fingertips so you can qualify a prospect faster than ever
          before:</h6>
        <div class="row pt-5">
          <div class="col-md-3">
            <div class="sentence-item">
              <h5>Fast and accurate pre qualification of your prospects.</h5>
              <p>(= less wasted time)</p>
            </div>
            <div class="sentence-item">
              <h5>Streamlines the Medicare beneficiary enrollment and reduces compliance problems.
              </h5>
              <p>(= fewer declines)</p>
            </div>
            <div class="sentence-item">
              <h5>Expert onboarding and Help Desk chat support.</h5>
              <p>(available during AEP)</p>
            </div>
          </div>
          <div class="col-md-6 d-flex justify-content-center align-items-center">
            <img src="assets/img/mac2.png"
              alt="">
          </div>
          <div class="col-md-3">
            <div class="sentence-item">
              <h5>Reduces missed qualified inbound phone calls.</h5>
              <p>(= talk to more qualified prospects)</p>
            </div>
            <div class="sentence-item">
              <h5>Sophisticated integration with most enrollment software.</h5>
              <p>(Sunfire, Connecture)</p>
            </div>
            <div class="sentence-item">
              <h5>Eliminates upfront clerical errors and cutting-and-pasting.</h5>
              <p>(= no annoying admin error requests by carrier partners)</p>
            </div>
          </div>
        </div>
        <h4>By working with only qualified prospects you virtually eliminate chargebacks, declines, <br>
          disenrollments and other negatives while working with more qualified leads!</h4>
      </div>
    </div>
  </div>
</section>
<!-- image section end -->

<!-- free-trial -->
<section class="free-trial wow fadeInUp"
  data-wow-delay="100ms">
  <div class="container">
    <!-- <div class="row d-flex justify-content-center align-items-center"> -->
    <div class="row">
      <div class="col-md-3 col-lg-4 col-12  d-md-flex align-items-md-center  justify-content-center">
        <h1>FREE TRIAL</h1>
      </div>
      <div class="col-md-5 col-lg-4 col-12  d-md-flex align-items-md-center  justify-content-center">
        <p>Use the software for free for 15 days.</p>
      </div>
      <div class="col-md-4 col-lg-4 col-12  d-md-flex align-items-md-center  justify-content-center">
        <div class="main-banner1">
          <a href="javascript:;"
            routerLink="/system/signup"
            class="btn">TRY BEFORE YOU BUY</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- free-trial end -->

<!-- contact start -->
<section class="contact-section">
  <div class="d-flex justify-content-center align-items-center">
    <div class="col-md-8 col-lg-8 col-xl-5">
      <h5>Contact Medicare Magician Today!</h5>
      <p>Medicare Magician is a solution created for Medicare Advantage agents… by Medicare Advantage agents who
        understand that most enrollment software is slow and user unfriendly.</p>
    </div>
  </div>
</section>
<!-- contact end -->
<!-- chat start -->
<section class="chat-section">
  <div class="container">
    <div class="row">
      <div class="col-md-5 d-flex justify-content-center align-items-center">
        <div>
          <h4>Questions?</h4>
          <img src="assets/img/landing-rabbit.png"
            alt="">
        </div>
      </div>
      <div class="col-md-7 align">
        <button class="btn chat-btn"
          (click)="chatclick()">Click here to Chat <img src="assets/img/white-messenger.png"
            alt=""></button>
        <p class="blue-color">- or -</p>
        <h5>Email Us at</h5>
        <h3><a href="javascript:;"
            routerLink="/main/contact">Magic@MedicareMagician.US</a></h3>
      </div>
    </div>
  </div>
</section>
<!-- chat end -->
<!-- last section start -->
<section class="software-content">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-md-8 col-lg-8 col-xl-6">
        <h6>Sign up for the free trial and see the Magic for yourself!</h6>

      </div>
    </div>
  </div>
</section>
<!-- last section end -->

<!-- free-trial -->
<section class="free-trial wow fadeInUp"
  data-wow-delay="100ms">
  <div class="container">
    <!-- <div class="row d-flex justify-content-center align-items-center"> -->
    <div class="row">
      <div class="col-md-3 col-lg-4 col-12  d-md-flex align-items-md-center  justify-content-center">
        <h1>FREE TRIAL</h1>
      </div>
      <div class="col-md-5 col-lg-4 col-12  d-md-flex align-items-md-center  justify-content-center">
        <p>Use the software for free for 15 days.</p>
      </div>
      <div class="col-md-4 col-lg-4 col-12  d-md-flex align-items-md-center  justify-content-center">
        <div class="main-banner1">
          <a href="javascript:;"
            routerLink="/system/signup"
            class="btn font-lg">TRY BEFORE YOU BUY</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- free-trial end -->
<!-- ##### Footer Area Start ##### -->
<app-footer></app-footer>
<!-- ##### Footer Area Start ##### -->
