<app-menutop></app-menutop>
<!-- ##### Bootstrap Static Header #####  -->
<div style="background: url('assets/img/banner1.png')"
  class="d-none jumbotron bg-cover text-white main-banner mb-0">
  <div class="container py-md-5">
    <div class="col-md-8 col-12">
      <h1 class="display-4 font-weight-bold wow fadeInUp"
        data-wow-delay="100ms">The Medicare Magician <br> Sales
        Software</h1>
      <p class="wow fadeInUp"
        data-wow-delay="300ms">Eliminate Unqualified <br> Prospects. Get More <br>
        Commissions</p>
    </div>
  </div>
</div>
<!-- ##### Bootstrap Static Header End ##### -->

<!-- free-trial -->
<section class="free-trial d-none">
  <div class="container">
    <!-- <div class="row d-flex justify-content-center align-items-center"> -->
    <div class="row">
      <div class="col-md-3 col-lg-4 col-12  d-md-flex align-items-md-center  justify-content-center wow fadeInUp"
        data-wow-delay="100ms">
        <h1>FREE TRIAL</h1>
      </div>
      <div class="col-md-5 col-lg-4 col-12  d-md-flex align-items-md-center  justify-content-center wow fadeInUp"
        data-wow-delay="100ms">
        <p>Use the software for free for 15 days.</p>
      </div>
      <div class="col-md-4 col-lg-4 col-12  d-md-flex align-items-md-center  justify-content-center wow fadeInUp"
        data-wow-delay="100ms">
        <div class="main-banner1">
          <a href="javascript:;"
            routerLink="/system/signup"
            class="btn">TRY BEFORE YOU BUY</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- free-trial end -->

<!-- about section start -->
<div class="container about-section wow fadeInUp"
  data-wow-delay="100ms">
  <div class="row">
    <div class="col-md-3">
      <img src="assets/img/medicare1.png"
        alt="">
    </div>
    <div class="col-md-9">
      <p>Medicare Magician simplifies the complex and cumbersome world of Medicare Advantage enrollment with an
        innovative solution to streamline the qualification process and maximize commission revenue.</p>
    </div>
  </div>
</div>
<!-- about section end -->

<!-- ##### Call To Action Start ###### -->
<section class="cta-2-area wow fadeInUp action pt-4"
  data-wow-delay="100ms">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center text-white font pb-4">
        <h2 class="text-white font">WITH MEDICARE MAGICIAN, <br>
          THE FORMULA IS SIMPLE: MORE!!</h2>
        <h5 class="text-white font">Less Wasted Time + More Qualified and Efficient Enrollments = <br> MORE
          TIME to Enroll More
          Medicare Beneficiaries
        </h5>
        <h5 class="text-white font"> … And RECEIVE MORE COMMISSIONS.</h5>
      </div>
    </div>
  </div>
</section>
<!-- ##### Call To Action End ###### -->

<!-- ##### Services Area Start ###### -->
<section class="services-area py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6 benefits wow fadeInLeft pt-4"
        data-wow-delay="100ms">
        <div class="text-center">
          <h3>BENEFITS</h3>
        </div>
        <p>Our industry-leading sales assistant software works seamlessly with your existing enrollment platform by
          accessing inbound data from your enrollment system, MARX and other external data sources, analyzing relevant
          data points to give you necessary information to prequalify clients and auto populating the data throughout
          your enrollment software, thus streamlining enrollments and allowing you to write more higher quality
          policies</p>
      </div>
      <div class="col-md-6 wow fadeInRight macbook"
        data-wow-delay="300ms">
        <img src="assets/img/macbook.png"
          alt="">
      </div>
    </div>
  </div>
</section>
<!-- ##### Services Area End ###### -->
<!-- badges start -->
<div class="container">
  <div class="row">
    <div class="col-md-6 col-xl-4 col-lg-6 wow fadeInUp"
      data-wow-delay="200ms">
      <div class="cardBox">
        <div class="card">
          <div class="front">
            <img src="assets/img/badge1.png"
              alt="">
            <h5>Fast and accurate pre-qualification information</h5>
          </div>
          <div class="back">
            <h5 class="text-center">Allows you to quickly qualify your prospects (= less wasted time and greater ability
              to close more qualified clients)</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-4 col-lg-6 wow fadeInUp"
      data-wow-delay="300ms">
      <div class="cardBox">
        <div class="card">
          <div class="front">
            <img src="assets/img/badge22.png"
              alt="">
            <h5>Streamlines beneficiary enrollment</h5>
          </div>
          <div class="back">
            <h5 class="text-center">And reduces compliance problems
              (fewer declines, involuntary disenrollments and more commissions)</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-4 col-lg-6 wow fadeInUp"
      data-wow-delay="400ms">
      <div class="cardBox">
        <div class="card">
          <div class="front">
            <img src="assets/img/badge33.png"
              alt="">
            <h5>Virtually eliminates costly clerical errors</h5>
          </div>
          <div class="back">
            <h5 class="text-center">By capturing most relevant prospect data from MARX and our external data sources and
              “magically” populating this information throughout your enrollment software, decreasing the stress and
              redundant tasks of cutting and pasting (= no annoying admin error requests by carrier partners)</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-4 col-lg-6 wow fadeInUp"
      data-wow-delay="500ms">
      <div class="cardBox">
        <div class="card">
          <div class="front">
            <img src="assets/img/badge444.png"
              alt="">
            <h5>Reduces missed qualified inbound phone calls</h5>
          </div>
          <div class="back">
            <h5 class="text-center">Meaning you talk to more qualified prospects, get more commissions, not more
              hassles!</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-4 col-lg-6 wow fadeInUp"
      data-wow-delay="600ms">
      <div class="cardBox">
        <div class="card">
          <div class="front">
            <img src="assets/img/badge5.png"
              alt="">
            <h5>Seamless, sophisticated integration</h5>
          </div>
          <div class="back">
            <h5 class="text-center">Automation that integrates seamlessly with most enrollment software (Sunfire,
              Connecture)</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-4 col-lg-6 wow fadeInUp"
      data-wow-delay="700ms">
      <div class="cardBox">
        <div class="card">
          <div class="front">
            <img src="assets/img/badge6.png"
              alt="">
            <h5>Expert onboarding and Help Desk chat</h5>
          </div>
          <div class="back">
            <h5 class="text-center">Support available during AEP from 9AM Eastern to 9PM Eastern, 7 days a week, from
              October 15th thru December 7th (or later if AEP is extended again).</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="d-none col-12 text-center main-banner1 py-3"><a href="javascript:;"
        routerLink="/system/signup"
        class="try-text wow fadeInUp"
        data-wow-delay="500ms"
        style="visibility: visible; animation-delay: 500ms; animation-name: fadeInUp;">Use the software for free for 15
        days</a></div>
  </div>
</div>
<!-- badges end -->
<!-- free-trial -->
<section class="free-trial">
  <div class="container">
    <!-- <div class="row d-flex justify-content-center align-items-center"> -->
    <div class="row">
      <div class="col-md-3 col-lg-4 col-12  d-md-flex align-items-md-center  justify-content-center wow fadeInUp"
        data-wow-delay="100ms">
        <h1>FREE TRIAL</h1>
      </div>
      <div class="col-md-5 col-lg-4 col-12  d-md-flex align-items-md-center  justify-content-center wow fadeInUp"
        data-wow-delay="100ms">
        <p>Use the software for free for 15 days.</p>
      </div>
      <div class="col-md-4 col-lg-4 col-12  d-md-flex align-items-md-center  justify-content-center wow fadeInUp"
        data-wow-delay="100ms">
        <div class="main-banner1">
          <a href="javascript:;"
            routerLink="/system/signup"
            class="btn">TRY BEFORE YOU BUY</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- free-trial end -->

<!-- howitworks -->

<section class="works">
  <div class="container">
    <div class="row">
      <div class="col-md-4 d-flex justify-content-center align-items-center">
        <img src="assets/img/magic-cards.png"
          alt="">
      </div>
      <div class="col-md-8 pt-5">
        <h3 class="text-white">HOW IT WORKS</h3>
        <p class="text-white">
          The software gathers necessary qualifying information from your enrollment systems data while
          you provide the scope of appointment and other CMS required script language.
        </p>
        <p class="text-white">
          The Magician software gathers necessary prospect information from your MARX account and our
          external sources and populates the data into a data screen/window that sits on top of the
          enrollment software, putting all relevant qualifying information at your fingertips:

        </p>
      </div>
    </div>

    <!-- work badges start -->
    <div class="row d-flex justify-content-center work-badge pt-2 pb-4">
      <div class="col-xl-2 col-lg-3 col-md-3 col-6 wow fadeInUp"
        data-wow-delay="100ms">
        <div class="card-flipper effect__hover"
          data-id="1">
          <div class="card__front">
            <div class="card-box">
              <img src="assets/img/works-1.png"
                alt="">
              <p>Quick Qualification access</p>
            </div>
          </div>

          <div class="card__back">
            <p>Quick access to relevant qualification data points for prequalifying your prospect</p>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 col-6 wow fadeInUp"
        data-wow-delay="200ms">
        <div class="card-flipper effect__hover"
          data-id="1">
          <div class="card__front">
            <div class="card-box">
              <img src="assets/img/works-2.png"
                alt="">
              <p>Plan A & B effective dates</p>
            </div>
          </div>

          <div class="card__back">
            <p>Plan A & B effective dates</p>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 col-6 wow fadeInUp"
        data-wow-delay="300ms">
        <div class="card-flipper effect__hover"
          data-id="1">
          <div class="card__front">
            <div class="card-box">
              <img src="assets/img/works-3.png"
                alt="">
              <p>Expedited current plan evaluation</p>
            </div>
          </div>

          <div class="card__back">
            <p>Current and prior Medicare or Dual Enrollment Plans to help you quickly evaluate a prospect’s existing
              plan
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 col-6 wow fadeInUp"
        data-wow-delay="400ms">
        <div class="card-flipper effect__hover"
          data-id="1">
          <div class="card__front">
            <div class="card-box">
              <img src="assets/img/works-4.png"
                alt="">
              <p>Low Income Subsidy (LIS) level</p>
            </div>
          </div>

          <div class="card__back">
            <p>Low-Income Subsidy (LIS) level
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 col-6 wow fadeInUp"
        data-wow-delay="500ms">
        <div class="card-flipper effect__hover"
          data-id="1">
          <div class="card__front">
            <div class="card-box">
              <img src="assets/img/works-51.png"
                alt="">
              <p>OEP or SEP election usage</p>
            </div>
          </div>

          <div class="card__back">
            <p>OEP or SEP election usage
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row d-flex justify-content-center work-badge pb-5">
      <div class="col-xl-2 col-lg-3 col-md-3 col-6 wow fadeInUp"
        data-wow-delay="600ms">
        <div class="card-flipper effect__hover"
          data-id="1">
          <div class="card__front">
            <div class="card-box">
              <img src="assets/img/works-6.png"
                alt="">
              <p>Complete & accurate home address</p>
            </div>
          </div>

          <div class="card__back">
            <p>Complete and accurate home address
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 col-6 wow fadeInUp"
        data-wow-delay="700ms">
        <div class="card-flipper effect__hover"
          data-id="1">
          <div class="card__front">
            <div class="card-box">
              <img src="assets/img/works-7.png"
                alt="">
              <p>Auto-populated fields for accuracy & ease</p>
            </div>
          </div>

          <div class="card__back">
            <p>Auto-populated fields throughout your enrollment software for faster checkout. No more
              copy/paste/mistakes!
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 col-6 wow fadeInUp"
        data-wow-delay="800ms">
        <div class="card-flipper effect__hover"
          data-id="1">
          <div class="card__front">
            <div class="card-box">
              <img src="assets/img/works-8.png"
                alt="">
              <p>Faster enrollment for more commissions</p>
            </div>
          </div>

          <div class="card__back">
            <p>Faster and higher quality enrollments, so you miss fewer inbound calls and talk to more qualified
              prospects, receive more commissions and reduce declines</p>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 col-6 wow fadeInUp"
        data-wow-delay="900ms">
        <div class="card-flipper effect__hover"
          data-id="1">
          <div class="card__front">
            <div class="card-box">
              <img src="assets/img/works-9.png"
                alt="">
              <p>Prequalify and easily enroll the prospect</p>
            </div>
          </div>

          <div class="card__back">
            <p>Virtually everything you need to prequalify and enroll the prospect
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- work badges end -->

    <p class="text-white workcard-text">By the time you finish the required CMS script, you have all
      necessary qualification information in front of you to decide if you want to continue with the prospect
      or get off the call and move onto your next prospect.</p>

    <p class="text-white workcard-text">By working with only qualified prospects, you virtually eliminate
      chargebacks, declines, disenrollment's and other negatives while working with more qualified leads!</p>
  </div>
</section>
<div class="works-bg"></div>
<!-- howitworks end -->

<!-- hand-section start -->
<section class="hand-section wow fadeInUp"
  data-wow-delay="100ms">
  <div class="container">
    <div class="row px-5">
      <div class="col-12 text-center pt-3">
        <h3>Why Trust Medicare Magician?</h3>
      </div>
      <p class="strong-text">
        Medicare Magician is a solution created for Medicare Advantage agents... by Medicare Advantage
        agents.
      </p>
      <p>
        Our team is built on Medicare enrollment experience. We understand Medicare agents get tortured
        during AEP because most enrollment software is slow and user unfriendly. Medicare Magician gives
        agents power from all sides and we're there when you need us, with proven technology and world-class
        live chat support to answer your technical questions.
      </p>
      <p class="strong-text">
        But we're more than just technology that streamliness the Medicare Advantage enrollment process and
        increases revenue...
      </p>
      <p>
        ...We're all about helping YOU write more qualified business. We accomplish this by decreasing the
        hours you must be on the phones to accomplish your enrollment goals. This decreases your fatigue
        with increases the quality of your enrollment conversations. No more cut-and-pasting client info
        from MARX or other data areas! With a press of a button, necessary enrollment data is auto populated
        from Medicare Magician throughout your enrollment software.
      </p>
      <p class="strong-text">
        Medicare Magician helps you focus on giving your prospects the information they need to make the
        best decisions for themselves and their families...
      </p>
      <p>
        <i> ...instead of getting bogged down in the enrollment process.</i>
      </p>
      <p class="strong-text">
        With Medicare Magician, you can stay ahead of the curve and experience reduced costs, more satisfied
        customers, greater success and higher commissions.
      </p>
      <!-- <div class="col-12 text-center main-banner1"><a href="#" role="button" class="btn wow fadeInUp"
                        data-wow-delay="500ms">TRY IT NOW</a></div> -->
      <span class="text-center m-auto">
        <img class="w-100"
          src="assets/img/hand.png"
          alt="">
      </span>
    </div>
  </div>
</section>
<!-- hand-section end -->
<!-- free-trial -->
<section class="free-trial">
  <div class="container">
    <!-- <div class="row d-flex justify-content-center align-items-center"> -->
    <div class="row">
      <div class="col-md-3 col-lg-4 col-12  d-md-flex align-items-md-center  justify-content-center wow fadeInUp"
        data-wow-delay="100ms">
        <h1>FREE TRIAL</h1>
      </div>
      <div class="col-md-5 col-lg-4 col-12  d-md-flex align-items-md-center  justify-content-center wow fadeInUp"
        data-wow-delay="100ms">
        <p>Use the software for free for 15 days.</p>
      </div>
      <div class="col-md-4 col-lg-4 col-12  d-md-flex align-items-md-center  justify-content-center wow fadeInUp"
        data-wow-delay="100ms">
        <div class="main-banner1">
          <a href="javascript:;"
            routerLink="/system/signup"
            class="btn">TRY BEFORE YOU BUY</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- free-trial end -->

<!-- testimonial -->
<section class="testimonial">
  <div class="container">
    <div class="row">
      <div class="col-md-5 d-flex justify-content-center align-items-center">
        <h2>Testimonials</h2>
      </div>
      <div class="col-md-7">
        <div id="carouselExampleCaptions"
          class="carousel slide"
          data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions"
              data-slide-to="0"
              class="active"></li>
            <li data-target="#carouselExampleCaptions"
              data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions"
              data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <blockquote>
                <p>"Being on the phone for 8 to 10 hours at a time is exhausting. Since I started
                  using Medicare Magician, my energy level is maximized. I don't tire myself out
                  cutting and pasting necessary information required for the enrollment.
                  EVERYTHING is at my FINGERTIPS! It's a time saver! An ENERGY saver!"</p>
              </blockquote>
              <p><i>- Steve Clark</i></p>
            </div>
            <div class="carousel-item">
              <blockquote>
                <p>"We thank Medicare Magician for the wonderful job in helping us develop our program. We would
                  recommend Medicare Magician to anyone looking for quality time saving services, delivered in a
                  professional manner."</p>
              </blockquote>
              <p><i>- Carla Price</i></p>
            </div>
            <div class="carousel-item">
              <blockquote>
                <p>"When our own skills did not manage to get where we wanted, Medicare Magician took care of the rest.
                  The expertize, customer service and "follow up" we experienced from Medicare Magician Solutions were
                  simply flawless."</p>
              </blockquote>
              <p><i>- Harry Sever</i></p>
            </div>
          </div>
          <!-- <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button"
                            data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button"
                            data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a> -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- testimonial end -->

<!-- lastsection -->
<section class="list">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 text-center">
        <h2>After the free trial period, there are three methods of purchase:</h2>
      </div>
      <div class="col-md-4 p-0">
        <img src="assets/img/stick.png"
          alt="">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-md-7">
        <div class="list-box">
          <h4>Free Trail:</h4>
          <ul>
            <li>Use the software for free for 15 days.</li>
          </ul>
          <button routerLink="/system/signup"
            class="btn btn-block">Click here to sign up with a FREE trail</button>
        </div>
        <div class="list-box">
          <h4>Yearly Subscription:</h4>
          <ul>
            <li>$3,000 annual lump sum subscription</li>
          </ul>
          <button routerLink="/system/signup"
            class="btn btn-block">Continue with Lump Sum Payment</button>
        </div>
        <div class="list-box">
          <h4>Monthly Subscription:</h4>
          <ul>
            <li>$300 monthly annual subscription</li>
          </ul>
          <button routerLink="/system/signup"
            class="btn btn-block">Continue with Subscription</button>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- lastsection end -->
<!-- <app-footer></app-footer>
  <ng-template class="tokenmodal" #template let-c="close" let-d="dismiss">

	<button
	  type="button"
	  class="close text-right"
	  aria-label="Close"
	  (click)="d('Cross click')"
	>
	  <span aria-hidden="true">&times;</span>
	</button>

  <div class="modal-body p-0">
	<app-landing></app-landing>
  </div>
  </ng-template> -->
<app-footer></app-footer>
