<app-menutop></app-menutop>
<!-- banner start -->
<section>
  <img class="mw-100"
    src="assets/img/howitworks-banner.png"
    alt="">
</section>
<!-- banner end -->
<!-- howit-works -->
<section class="howit-works">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-6 pt-5 pb-5">
        <h3>What does the software do?</h3>
        <p class="pfont mb-5">
          The software gathers necessary qualifying information from your enrollment systems data while
          you provide the scope of appointment and other CMS required script language.
        </p>
        <p class="pfont">
          The Magician software gathers necessary prospect information from your MARX account and our
          external sources and populates the data into a data screen/window that sits on top of the
          enrollment software, putting all relevant qualifying information at your fingertips:

        </p>
      </div>
      <div class="col-md-12 col-lg-6 pt-2 d-flex align-items-center">
        <img src="assets/img/work-mac.png"
          alt="">
      </div>
    </div>
    <div class="row padding-cards padding-cards1">
      <div class="col-md-4 col-lg-4 col-12 mb-3 wow fadeInUp"
        data-wow-delay="100ms">
        <div class="card-flipper effect__hover"
          data-id="1">
          <div class="card__front">
            <div class="card-box">
              <img src="assets/img/icon-1.png"
                alt="">
              <p>Quick Qualification <br> access</p>
            </div>
          </div>

          <div class="card__back d-flex justify-content-center align-items-center">
            <p>Quick access to relevant qualification data points for prequalifying your prospect
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-4 col-12 mb-3 wow fadeInUp"
        data-wow-delay="200ms">
        <div class="card-flipper effect__hover"
          data-id="1">
          <div class="card__front">
            <div class="card-box">
              <img src="assets/img/icon-2.png"
                alt="">
              <p>Plan A & B effective <br> dates</p>
            </div>
          </div>

          <div class="card__back d-flex justify-content-center align-items-center">
            <p>Plan A & B effective dates</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-4 mb-3 col-12 wow fadeInUp"
        data-wow-delay="300ms">
        <div class="card-flipper effect__hover"
          data-id="1">
          <div class="card__front">
            <div class="card-box">
              <img src="assets/img/icon-3.png"
                alt="">
              <p>Expedited current <br> plan evaluation</p>
            </div>
          </div>

          <div class="card__back d-flex justify-content-center align-items-center">
            <p>Current and prior Medicare or Dual Enrollment Plans to help you quickly evaluate a prospect’s existing
              plan</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-4 mb-3 col-12 wow fadeInUp"
        data-wow-delay="400ms">
        <div class="card-flipper effect__hover"
          data-id="1">
          <div class="card__front">
            <div class="card-box">
              <img src="assets/img/icon-4.png"
                alt="">
              <p>Low Income Subsidy <br> (LIS) level</p>
            </div>
          </div>

          <div class="card__back d-flex justify-content-center align-items-center">
            <p>Low-Income Subsidy (LIS) level</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-4 mb-3 col-12 wow fadeInUp"
        data-wow-delay="500ms">
        <div class="card-flipper effect__hover"
          data-id="1">
          <div class="card__front">
            <div class="card-box">
              <img src="assets/img/icon-5.png"
                alt="">
              <p>OEP or SEP election <br> usage</p>
            </div>
          </div>

          <div class="card__back d-flex justify-content-center align-items-center">
            <p>OEP or SEP election usage</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-4 mb-3 col-12 wow fadeInUp"
        data-wow-delay="600ms">
        <div class="card-flipper effect__hover"
          data-id="1">
          <div class="card__front">
            <div class="card-box">
              <img src="assets/img/icon-6.png"
                alt="">
              <p>Complete & accurate <br> home address</p>
            </div>
          </div>

          <div class="card__back d-flex justify-content-center align-items-center">
            <p>Complete and accurate home address</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-4 mb-3 col-12 wow fadeInUp"
        data-wow-delay="700ms">
        <div class="card-flipper effect__hover"
          data-id="1">
          <div class="card__front">
            <div class="card-box">
              <img src="assets/img/icon-7.png"
                alt="">
              <p>Auto-populated fields <br> for accuracy & ease</p>
            </div>
          </div>

          <div class="card__back d-flex justify-content-center align-items-center">
            <p>Auto-populated fields throughout your enrollment software for faster checkout. No more
              copy/paste/mistakes!</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-4 mb-3 col-12 wow fadeInUp"
        data-wow-delay="800ms">
        <div class="card-flipper effect__hover"
          data-id="1">
          <div class="card__front">
            <div class="card-box">
              <img src="assets/img/icon-8.png"
                alt="">
              <p>Faster enrollment for <br> more commissions</p>
            </div>
          </div>

          <div class="card__back d-flex justify-content-center align-items-center">
            <p>Faster and higher quality enrollments, so you miss fewer inbound calls and talk to more qualified
              prospects, receive more commissions and reduce declines
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-4 mb-3 col-12 wow fadeInUp"
        data-wow-delay="900ms">
        <div class="card-flipper effect__hover"
          data-id="1">
          <div class="card__front">
            <div class="card-box">
              <img src="assets/img/icon-9.png"
                alt="">
              <p>Prequalify and easily <br> enroll the prospect</p>
            </div>
          </div>

          <div class="card__back d-flex justify-content-center align-items-center">
            <p>Virtually everything you need to prequalify and enroll the prospect
            </p>
          </div>
        </div>
      </div>

    </div>
    <p class="text-dark px-1 pt-4">By the time you finish the required CMS script, you have all
      necessary qualification information in front of you to decide if you want to continue with the prospect
      or get off the call and move onto your next prospect.</p>

    <p class="text-dark px-1 pb-3">By working with only qualified prospects, you virtually eliminate
      chargebacks, declines, disenrollment's and other negatives while working with more qualified leads!</p>

  </div>
</section>
<!-- howit-works end -->
<!-- free-trial -->
<section class="free-trial mt-5">
  <div class="container">
    <!-- <div class="row d-flex justify-content-center align-items-center"> -->
    <div class="row">
      <div class="col-md-3 col-lg-4 col-12  d-md-flex align-items-md-center  justify-content-center">
        <h1>FREE TRIAL</h1>
      </div>
      <div class="col-md-5 col-lg-4 col-12  d-md-flex align-items-md-center  justify-content-center">
        <p>Use the software for free for 15 days.</p>
      </div>
      <div class="col-md-4 col-lg-4 col-12  d-md-flex align-items-md-center  justify-content-center">
        <div class="main-banner1">
          <a href="javascript:;"
            routerLink="/system/signup"
            class="btn">TRY BEFORE YOU BUY</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- free-trial end -->

<!-- lastsection -->
<section class="list">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 text-center">
        <h2>After the free trial period, there are three methods of purchase:</h2>
      </div>
      <div class="col-md-4 p-0">
        <img src="assets/img/stick.png"
          alt="">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-md-7">
        <div class="list-box">
          <h4>Free Trail:</h4>
          <ul>
            <li>Use the software for free for 15 days.</li>
          </ul>
          <button class="btn btn-block"
            routerLink="/system/signup">Click here to sign up with a FREE trail</button>
        </div>
        <div class="list-box">
          <h4>Yearly Subscription:</h4>
          <ul>
            <li>$3,000 annual lump sum subscription</li>
          </ul>
          <button class="btn btn-block"
            routerLink="/system/signup">Continue with subscription</button>
        </div>
        <div class="list-box">
          <h4>Monthly Subscription:</h4>
          <ul>
            <li>$300 monthly annual subscription</li>

          </ul>
          <button class="btn btn-block"
            routerLink="/system/signup">Continue with subscription</button>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
