<div class="container pt-5">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 text-white text-center">
      <div>
        <div class="card-body"><img routerLink="/main/home"
            src="assets/img/logo.png"
            alt=""
            class="img-fluid"
            style="cursor: pointer;"></div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 py-3">
      <main class="main">
        <div class="container">
          <section class="wrapper">
            <div class="heading">
              <h1 class="text text-large sign-title m-0">Admin Login</h1>
            </div>
            <form [formGroup]="frmLogin"
              name="login"
              class="form">
              <div class="input-group input-control">
                <input type="email"
                  name="email"
                  class="form-control"
                  formControlName="email"
                  placeholder="Email Address"
                  [ngClass]="{ 'is-invalid': submitted && frmCtrl.email.errors }"
                  aria-label="Amount (to the nearest dollar)">
              </div>
              <div class="input-group input-control">
                <input [type]="hide ? 'password' : 'text'"
                  name="password"
                  formControlName="password"
                  placeholder="Password"
                  class="form-control"
                  aria-label="Amount (to the nearest dollar)"
                  [ngClass]="{ 'is-invalid': submitted && frmCtrl.password.errors}">
                <div class="input-group-append">
                  <span class="input-group-text"
                    (click)="hide=!hide"
                    style="cursor: pointer;">
                    <i *ngIf="!hide"
                      class="fa fa-eye"
                      aria-hidden="true"
                      style="padding: 4px;"></i>
                    <i *ngIf="hide"
                      class="fa fa-eye-slash"
                      aria-hidden="true"
                      style="padding: 4px;"></i>
                  </span>
                </div>
              </div>
              <div class="input-control">
                <input type="button"
                  name="submit"
                  (click)="loginsumbit()"
                  class="input-submit"
                  value="Login">
              </div>
            </form>


          </section>
        </div>
      </main>
    </div>
  </div>
</div>
